/*
* Variable definitions
*/
/*
* Animations
*/
.page-moon {
  height: 100vh;
  width: 100%;
  background-color: #20263b;
}
#canvas {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}
.moon {
  background-color: #ccc;
  border-radius: 50%;
  border: 2em solid #333c5d;
  height: 15em;
  left: 5%;
  margin-top: -11em;
  position: absolute;
  top: 200px;
  width: 15em;
}
.moon .moon__container {
  -webkit-animation: lookaround 15s infinite alternate;
          animation: lookaround 15s infinite alternate;
  height: 100%;
}
.moon .moon__crater {
  animation: lookaround 15s infinite alternate-reverse;
  background-color: #c2c2c2;
  border-radius: 50%;
  box-shadow: inset -0.3em 0.2em 0 rgba(0,0,0,0.1);
  position: absolute;
}
.moon .moon__crater--small {
  height: 1.2em;
  width: 1.2em;
}
.moon .moon__crater--medium {
  height: 2.2em;
  width: 2.2em;
}
.moon .moon__crater--big {
  height: 3.15em;
  width: 3.15em;
}
.moon .moon__crater--1 {
  top: 9%;
  left: 35%;
}
.moon .moon__crater--2 {
  top: 25%;
  left: 40%;
}
.moon .moon__crater--3 {
  top: 69%;
  left: 15%;
}
.moon .moon__crater--4 {
  top: 83%;
  left: 41%;
}
.moon .moon__crater--5 {
  top: 76%;
  left: 55%;
}
.moon .moon__crater--6 {
  top: 16%;
  left: 48%;
}
.moon .moon__crater--7 {
  top: 39%;
  left: 15%;
}
.moon .moon__face {
  height: 15%;
  left: 65%;
  position: absolute;
  top: 54%;
  width: 25%;
}
.moon .moon__eye {
  -webkit-animation: blink 2s infinite alternate;
          animation: blink 2s infinite alternate;
  background-color: #000;
  border-radius: 50%;
  height: 0.75em;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 0.75em;
}
.moon .moon__eye::before,
.moon .moon__eye::after {
  -webkit-animation: shine 1s infinite alternate;
          animation: shine 1s infinite alternate;
  background-color: #fafafa;
  border-radius: 50%;
  content: "";
  display: block;
  height: 40%;
  opacity: 0.95;
  position: absolute;
  width: 40%;
}
.moon .moon__eye::after {
  bottom: 0;
  height: 60%;
  right: 0;
  width: 60%;
}
.moon .moon__eye--left {
  left: 0;
}
.moon .moon__eye--right {
  right: 0;
}
.moon .moon__cheek {
  background: #ef9a9a;
  border-radius: 40%;
  height: 0.75em;
  position: absolute;
  top: 38%;
  width: 1.5em;
}
.moon .moon__cheek--left {
  left: -1em;
}
.moon .moon__cheek--right {
  right: -1em;
}
.moon .moon__smile {
  border: 0.25em solid transparent;
  border-left-color: #000;
  border-bottom-color: #000;
  border-radius: 50%;
  height: 1em;
  left: 41%;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s;
  width: 1em;
}
.moon .love {
  position: absolute;
  right: 1em;
  top: 3em;
}
.moon .love__heart {
  -webkit-animation: heartbeat 4s infinite normal backwards;
          animation: heartbeat 4s infinite normal backwards;
  height: 1em;
  position: absolute;
  width: 1em;
}
.moon .love__heart--1 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  left: 1.5em;
}
.moon .love__heart--2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  left: 3em;
}
.moon .love__heart--3 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  left: 0em;
}
.moon .love__heart::before,
.moon .love__heart::after {
  background: #ef9a9a;
  border-radius: 50% 50% 0 0;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 65%;
}
.moon .love__heart::before {
  -webkit-transform: rotate(-35deg) translateX(-40%);
          transform: rotate(-35deg) translateX(-40%);
}
.moon .love__heart::after {
  -webkit-transform: rotate(55deg) translateX(40%);
          transform: rotate(55deg) translateX(40%);
}
.container {
  position: absolute;
  bottom: 0px;
  left: 60%;
  -webkit-transform: translate(-15%, -50%);
          transform: translate(-15%, -50%);
  z-index: 1;
}
.container .developer {
  position: relative;
  top: 320px;
}
.container .fab {
  position: absolute;
  top: -8px;
  left: 50%;
  opacity: 0.6;
  z-index: 1;
}
.container .desk {
  position: relative;
  height: 140px;
  width: 400px;
  background-color: #6a4227;
  top: 50px;
}
.container .deskcounter {
  position: absolute;
  height: 12px;
  width: 460px;
  background-color: #f0f0f0;
  top: 40px;
  left: -30px;
}
.container .worker {
  position: relative;
  top: -288px;
  left: -20px;
}
.container .book1 {
  position: absolute;
  height: 12px;
  width: 80px;
  background-color: #ffc313;
  top: 30px;
  left: 308px;
  border-radius: 12%;
}
.container .book1-ring {
  position: absolute;
  width: 7px;
  height: 7px;
  background: #808080;
  border-radius: 50%;
  top: 34px;
  left: 316px;
  z-index: 1;
  opacity: 0.6;
}
.container .book1-line1 {
  position: absolute;
  height: 1.4px;
  width: 50px;
  background-color: #808080;
  top: 38px;
  left: 332px;
  opacity: 0.6;
}
.container .book1-line2 {
  position: absolute;
  height: 1.4px;
  width: 50px;
  background-color: #808080;
  top: 35px;
  left: 332px;
  opacity: 0.6;
}
.container .book2 {
  position: absolute;
  height: 12px;
  width: 80px;
  background-color: #f092de;
  top: 20px;
  left: 308px;
  border-radius: 12%;
}
.container .book2-ring {
  position: absolute;
  width: 7px;
  height: 7px;
  background: #808080;
  border-radius: 50%;
  top: 24px;
  left: 316px;
  z-index: 1;
  opacity: 0.6;
}
.container .book2-line1 {
  position: absolute;
  height: 1.4px;
  width: 50px;
  background-color: #808080;
  top: 25px;
  left: 332px;
  opacity: 0.6;
}
.container .book2-line2 {
  position: absolute;
  height: 1.4px;
  width: 50px;
  background-color: #808080;
  top: 28px;
  left: 332px;
  opacity: 0.6;
}
.container .book3 {
  position: absolute;
  height: 12px;
  width: 80px;
  background-color: #e2d7d7;
  top: 10px;
  left: 308px;
  border-radius: 12%;
}
.container .book3-ring {
  position: absolute;
  width: 7px;
  height: 7px;
  background: #808080;
  border-radius: 50%;
  top: 13px;
  left: 316px;
  z-index: 1;
  opacity: 0.6;
}
.container .book3-line1 {
  position: absolute;
  height: 1.4px;
  width: 50px;
  background-color: #808080;
  top: 13px;
  left: 332px;
  opacity: 0.6;
}
.container .book3-line2 {
  position: absolute;
  height: 1.4px;
  width: 50px;
  background-color: #808080;
  top: 17px;
  left: 332px;
  opacity: 0.6;
}
@-webkit-keyframes shine {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}
@keyframes shine {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}
@-webkit-keyframes glow {
  0% {
    box-shadow: 0 0 1em #fff, 0 0 -1em #fff;
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 0 0 1em #fff;
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}
@keyframes glow {
  0% {
    box-shadow: 0 0 1em #fff, 0 0 -1em #fff;
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 0 0 1em #fff;
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}
@-webkit-keyframes blink {
  0%, 95% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  98%, 100% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
}
@keyframes blink {
  0%, 95% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  98%, 100% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
}
@-webkit-keyframes lookaround {
  0%, 15% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20%, 50%, 80% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  85%, 100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
@keyframes lookaround {
  0%, 15% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20%, 50%, 80% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  85%, 100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
@-webkit-keyframes heartbeat {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  2% {
    opacity: 0.5;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  4% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  8% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1) translate(0, -800%);
            transform: scale(1) translate(0, -800%);
  }
}
@keyframes heartbeat {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  2% {
    opacity: 0.5;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  4% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  8% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1) translate(0, -800%);
            transform: scale(1) translate(0, -800%);
  }
}

